__pycache__
data/__pycache__
data/coco
data/kitti
data/kitti_dual
data/kitti_dual_complex
data/seumm_dual

layers/__pycache__
layers/functions/__pycache__
layers/modules/__pycache__

utils/__pycache__

output_kaist
output_kitti
output_custom

*.jpeg
*.jpg
*.png

*.mp4

weights
weights_bac
results

logs
